.Button {
    border: none;
    color: #0079D3;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Successful {
    color: white;
}

.Unsuccessful {
    color: #EA0027;
}