.Signup {
    margin: 20px auto;
    max-width: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.SignupLabel {
    font-weight: bold;
    color: #262626;
}

.SignupButton {
    width: 100%;
}

.SignupJumbotron {
    background-image: url('../../assets/tunestumbler-moreresults-blurred.png');
    background-size: cover;
    height: 80vh;
    font-weight: bold;
    text-align: center;
}